$mainTextColor: #282c34;
$subTextColor: #444;
$blue: #6557e0;
$purple: #a85ae0;
$red: #fc4055;
$green: #29ca42;
$yellow: #feca62;
$orange:#fd895c;
$white: #fff;
$offWhite: #f1f3f4;
$border: #dfdfe0;
$quoteBgColor: #f6f8fa;
$radius: 3px;