// color palette 
$mainTextColor: #282c34;
$subTextColor: #444;
$blue: #6557e0;
$purple: #a85ae0;
$red: #fc4055;
$green: #29ca42;
$yellow: #feca62;
$orange:#fd895c;
$white: #fff;
$offWhite: #f1f3f4;
$quoteBgColor: #eaeef280;
$border: #dfdfe0;
$oneDark: #282c34;
$oneLight: #f4f5f7;
// other 
$radius: 3px;