<template>
  <div class="Docs">
    <App-Nav />
    <App-Manual />
    <App-Footer />
  </div>
</template>

<script>
  import Nav from "../components/layout/nav.js";
  import Manual from "../components/manual.js";
  import Footer from "../components/layout/footer.js";
  import router from "../router/index.js";
  import * as hljs from "../../public/highlight.js";
  import marked from "marked";
  import { Origin, $, debug } from "olum-helpers";

  export default class Docs {
    // md files to be rendered in the docs page
    docsArr = [
      "CLI",
      "Settings",
      "Router",
      "Router-Methods",
      "Create-Component",
      "Register-Component",
      "Create-Service",
      "Share-Data-Between-Components",
      "Devtool",
      "Translation",
      "Use-Helpers",
      "Notes",
      "CDN",
    ];
    version = "master";

    render() {
      // select stuff
      this.origin = new Origin();
      const ul = $(".Manual aside ul");

      if (ul) {
        const links = this.docsArr.map(file => `<li><a href="#${file}" data-file="${file}">${file}</a></li>`).join("");
        ul.innerHTML = links;
        router.freeze(); // stop router default behavior
        // event
        ul.on("click", e => {
          if (e.target.nodeName === "A") {
            const file = e.target.getAttribute("data-file");
            // reset class
            const active = $(".Manual aside ul .active");
            if (active) active.classList.remove("active");
            // add class
            e.target.classList.add("active");
            // render docs
            this.showDocs(file);
          }
        });
        // show 1st guide
        const firstLink = $(ul).get("li a");
        if (firstLink) firstLink.click();
      }
    }

    showDocs(file) {
      const url = "https://raw.githubusercontent.com/olumjs/olum/" + this.version + "/docs/" + file + ".md";
      const container = $(".MarkdownEditor");

      // fetch docs
      this.origin
        .get(url)
        .then(res => {
          if (container) {
            container.innerHTML = marked(res);
            hljs.highlightAll();
            container.scrollIntoView();
          }
        })
        .catch(console.error);
    }

    getBranches() {
      // const url = "https://api.github.com/repos/olumjs/olum/branches?protected=false&per_page=100";
      // this.origin.get(url, {"Accept": "application/vnd.github.v3+json"}).then(debug).catch(debug);
    }
  }
</script>

<style lang="scss">
  .Docs {
  }
</style>
