<template>
  <div class="Docs">
    <App-Nav />
    <App-Manual />
    <App-Footer />
  </div>
</template>

<script>
  import Nav from "../components/layout/nav.js";
  import Manual from "../components/manual.js";
  import Footer from "../components/layout/footer.js";
  import router from "../router/index.js";
  import * as hljs from "../../public/highlight.js";
  import marked from "marked";
  import { Origin, $, debug } from "olum-helpers";

  // md files to be rendered in the docs page
  const repos = ["olum", "olum-router", "olum-cli", "olum-helpers", "olum-devtool"];
  const docsArr = [
    "CLI",
    "Settings",
    "Router",
    "Router-Methods",
    "Create-Component",
    "Register-Component",
    "Create-Service",
    "Share-Data-Between-Components",
    "Devtool",
    "Translation",
    "Use-Helpers",
    "Notes",
    "CDN",
  ];
  const version = "master";
  export default class Docs {
    render() {
      // select stuff
      this.origin = new Origin();
      const ul = $(".Manual aside ul");

      if (ul) {
        const links = docsArr.map(file => `<li><a href="#${file}" data-file="${file}">${file}</a></li>`).join("");
        ul.innerHTML = links;
        router.freeze(); // stop router default behavior
        // event
        ul.on("click", e => {
          if (e.target.nodeName === "A") {
            const file = e.target.getAttribute("data-file");
            // reset class
            const active = $(".Manual aside ul .active");
            if (active) active.classList.remove("active");
            // add class
            e.target.classList.add("active");
            // render docs
            this.showDocs(file);
          }
        });
        // show 1st guide
        const firstLink = $(ul).get("li a");
        if (firstLink) firstLink.click();
      }
      // this.getVersions();
    }

    showDocs(file) {
      const url = "https://raw.githubusercontent.com/olumjs/olum/" + version + "/docs/" + file + ".md";
      const container = $(".MarkdownEditor");

      // fetch docs
      this.origin
        .get(url)
        .then(res => {
          if (container) {
            container.innerHTML = marked(res);
            hljs.highlightAll();
            container.scrollIntoView();
          }
        })
        .catch(console.error);
    }

    getVersions() {
      const map = [];
      const recursive = (num = 0) => {
        const repo = repos[num];
        const url = "https://api.github.com/repos/olumjs/" + repo + "/branches?protected=false&per_page=100";
        const headers = { Accept: "application/vnd.github.v3+json" };
        this.origin
          .get(url, { headers })
          .then(res => {
            const repoInfo = res.map(item => {
              return { name: repo, version: item.name, sha: item.commit.sha };
            });
            map.push(repoInfo);
            if (num + 1 < repos.length) recursive(num + 1);
            else if (num === repos.length - 1) this.handleMap(map);
          })
          .catch(console.error);
      };
      recursive();
    }

    handleMap(map) {
      const recursive = (i = 0) => {
        const repoArr = map[i];
        const recursive2 = (x = 0) => {
          const obj = repoArr[x]; // each version of each repo
          console.log(obj);

          this.getFiles(obj.sha, obj.name)
            .then(files => {
              if (files) obj.files = files;

              // next obj if any
              if (x + 1 < repoArr.length) recursive2(x + 1);
              // next arr if any after reaching last obj
              else if (x === repoArr.length - 1 && i + 1 < map.length) recursive(i + 1);
              // if all are done
              else if (x === repoArr.length - 1 && i === map.length - 1) this.foo(map);
            })
            .catch(console.error);
        };
        recursive2();
      };
      recursive();
    }

    foo(map) {
      const tree = Object.create(null);
      map.forEach(arr => {
        arr = arr.filter(item => item.files);
        if (arr.length) {
          const repo = arr[0].name;
          tree[repo] = { ...arr };
        }
      });

      console.warn("tree", tree);
    }

    getFiles(sha, repo) {
      return new Promise((resolve, reject) => {
        const headers = { Accept: "application/vnd.github.v3+json" };
        this.origin
          .get("https://api.github.com/repos/olumjs/" + repo + "/git/trees/" + sha, { headers })
          .then(res => {
            const filesUrl = res.tree.find(item => item.path === "docs");
            if (typeof filesUrl != "undefined") {
              this.origin
                .get(filesUrl.url, { headers })
                .then(files => {
                  const names = files.tree.map(item => item.path);
                  resolve(names);
                })
                .catch(reject);
            } else {
              resolve(null);
            }
          })
          .catch(reject);
      });
    }
  }
</script>

<style lang="scss">
  .Docs {
  }
</style>
