<template>
  <div class="FAQ">
    <Nav />
    <div class="FAQInner">${"wip".trans()}</div>
    <Footer />
  </div>
</template>

<script>
  import Nav from "../components/layout/nav.js";
  import Footer from "../components/layout/footer.js";
  export default class FAQ {
    constructor() {}
    data() {
      return {
        name: "FAQ",
        components: {
          Nav,
          Footer
        },
        template: this.template(),
        style: this.style(),
        render: this.render.bind(this),
      };
    }

    render() {}
  }
</script>

<style lang="scss">
  .FAQ {
    .FAQInner {
      height: calc(100vh - 110px);
    }
  }
</style>