<template>
  <div class="Home">
    <Nav />
    <Header />
    home page works
  </div>
</template>

<script>
  import Nav from "../components/layout/nav.js";
  import Header from "../components/layout/header.js";
  export default class Home {
    data() {
      return {
        name: "Home",
        components: { Nav, Header },
        template: this.template(),
        style: this.style(),
        render: this.render.bind(this),
      };
    }

    render() {}
  }
</script>

<style lang="scss">
  .Home {

  }
</style>
