<template>
  <div class="Tools">
    <Nav />
    <Manual />
    <Footer />
  </div>
</template>

<script>
  import Nav from "../components/layout/nav.js";
  import Footer from "../components/layout/footer.js";
  import Manual from "../components/manual.js";
  import { $ } from "olum";
  import { getMD } from "../services/getmd.js";
  import { olum } from "../app.mjs";
  import filesNames from "../docs//toolsfilesnames.js";
  export default class Tools {
    data() {
      return {
        name: "Tools",
        components: {
          Nav,
          Footer,
          Manual,
        },
        template: this.template(),
        style: this.style(),
        render: this.render.bind(this),
      };
    }

    render() {
      const manual = $(".Manual");
      const ul = $(manual).get("aside ul");
      const links = filesNames.map(file => `<li><a href="#${file}" data-file="${file}">${file}</a></li>`).join("");
      olum.freeze();
      ul.innerHTML = links;
      getMD();
    }
  }
</script>

<style lang="scss">
  .Tools {
  }
</style>
