<template>
  <div class="Contributors">
    <h1>${"contributors".trans()}</h1>
    <ul></ul>
  </div>
</template>

<script>
  import { Origin, $, debug } from "olum-helpers";
  export default class Contributors {
    render() {
      const origin = new Origin();
      const url = "https://api.github.com/repos/olumjs/olum/contributors?per_page=100";
      origin.get(url, { headers: {Accept: "application/vnd.github.v3+json"} }).then(this.makeContributors.bind(this)).catch(console.error);
    }

    makeContributors(data) {
      const container = $(".Contributors ul");
      let arr = [];
      if (!Array.isArray(data)) arr.push(data);
      else arr = data;
      container.innerHTML = arr
        .map(obj => `<li><a href="${obj.html_url}" target="_blank"><img src="${obj.avatar_url}" alt="contributor" /></a></li>`)
        .join("");
    }
  }
</script>

<style lang="scss">
  .Contributors {
    max-width: 700px;
    margin: 50px auto 20px;
    padding: 0 10px;

    h1 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;
      color: $mainTextColor;
      margin: 0 0 20px;
    }
    ul {
      overflow: hidden;
      li {
        margin: 5px;
        float: left;
        a {
          display: block;
          img {
            width: 40px;
            border-radius: 50%;
            border: 2px solid $border;
          }
        }
      }
    }
  }
  .RTL {
    .Contributors {
      ul {
        li {
          float: right;
        }
      }
    }
  }
</style>
