<template>
  <div class="EcoSystem">
    <h1>${"ecoSys".trans()}</h1>
    <ul>
      <li>
        <a href="https://www.npmjs.com/package/olum-cli" target="_blank">
          <h3>${"ecoSysCLI".trans()}</h3>
          <p>${"cliDesc".trans()}</p>
        </a>
      </li>

      <li>
        <a href="https://github.com/olumjs/olum" target="_blank">
          <h3>${"ecoSysRouter".trans()}</h3>
          <p>${"routerDesc".trans()}</p>
        </a>
      </li>

      <li>
        <a href="https://github.com/olumjs/olum" target="_blank">
          <h3>${"ecoSysStateMGT".trans()}</h3>
          <p>${"stateMGTDesc".trans()}</p>
          <p></p>
        </a>
      </li>

      <li>
        <a href="https://github.com/olumjs/olum-devtool" target="_blank">
          <h3>${"ecoSysDevTool".trans()}</h3>
          <p>${"devToolDesc".trans()}</p>
        </a>
      </li>

      <li>
        <a href="https://marketplace.visualstudio.com/items?itemName=eissapk.olum" target="_blank">
          <h3>${"ecoSysVSC".trans()}</h3>
          <p>${"vscDesc".trans()}</p>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
  export default class EcoSystem {
    data() {
      return {
        name: "EcoSystem",
        components: {},
        template: this.template(),
        style: this.style(),
        render: this.render.bind(this),
      };
    }

    render() {}
  }
</script>

<style lang="scss">
  .EcoSystem {
    max-width: 700px;
    margin: 0 auto;
    h1 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;
      color: $mainTextColor;
      margin: 0 0 20px;
    }
    ul {
      display: grid;
      width: 100%;
      justify-items: center;
      grid-gap: 20px;
      grid-template-columns: 1fr;
      padding: 0 10px;

      li {
        width: 100%;

        a {
          background: $subTextColor;
          padding: 10px;
          border-radius: 5px;
          display: block;
          color: $white;
          h3 {
            font-weight: bold;
            margin-bottom: 5px;
          }
          p {
            line-height: 26px;
            font-weight: 300;
          }
        }
      }

      @media (min-width: 425px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
</style>
