<template>
  <div class="GetStarted">
    <!-- Simple-Component -->
    <div class="code-block Simple-Component">
      <h1>${"simpleComp".trans()}</h1>
    </div>
    <!-- Quick-Start -->
    <div class="code-block Quick-Start">
      <h1>${"quickStart".trans()}</h1>
    </div>
  </div>
</template>

<script>
  import * as hljs from "../../public/highlight.js";
  import marked from "marked";
  import { Origin, debug, $ } from "olum-helpers";
  const getStartedArr = ["Simple-Component", "Quick-Start"]; // md files & classes to be rendered in the home page
  const version = "master";
  const path = "docs/home";
  export default class GetStarted {
    
    render() {
      this.origin = new Origin();
      this.recursive();
    }

    recursive(num = 0) {
      // select stuff
      const fileName = getStartedArr[num];
      const url = "https://raw.githubusercontent.com/olumjs/olum/" + version + "/" + path + "/" + fileName + ".md";
      const container = $(`.GetStarted .${fileName}`);
      // fetch docs
      this.origin
        .get(url)
        .then(res => {
          if (container) container.insertAdjacentHTML("beforeend", marked(res));
          if (num + 1 <= getStartedArr.length - 1) this.recursive(num + 1);
          if (num === getStartedArr.length - 1) hljs.highlightAll(); // highlight after finishing all requests & dom injection
        })
        .catch(console.error);
    }
  }
</script>

<style lang="scss">
  .GetStarted {
    margin-bottom: 50px;
    h1 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;
      color: $mainTextColor;
      margin: 0 0 20px;
    }

    .code-block {
      padding-top: 50px;
      pre {
        max-width: 700px;
        width: calc(100% - 20px);
        margin: 0 auto;
        /* background: $oneDark; */
        background: $oneLight;
        padding: 16px;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        border-radius: $radius;
        margin-top: 0;
        margin-bottom: 16px;
        word-break: normal;
        white-space: pre;
        word-wrap: normal;
      }
    }
  }
</style>
