<template>
  <div class="Info">
    <p>
      ${"olumInfoDesc-1".trans()}
      <br />
      ${"olumInfoDesc-2".trans()}
    </p>
    <h1>${"pros".trans()}</h1>
    <ul>
      <li>${"reuseComp".trans()}</li>
      <li>${"mgtSys".trans()}</li>
      <li>${"spa".trans()}</li>
      <li>${"libSize".trans()}</li>
      <li>${"codeWithVanilla".trans()}</li>
    </ul>
  </div>
</template>

<script>
  export default class Info {
    render() {}
  }
</script>

<style lang="scss">
  .Info {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding-top: 50px;
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 600px;
    color: $subTextColor;
    line-height: 35px;
    border-bottom: 1px solid $border;
    padding-bottom: 50px;
    p {
      font-weight: 400;
    }
    h1 {
      font-size: 1.5rem;
      font-weight: 400;
      color: $mainTextColor;
      margin: 20px 0 10px;
    }
    ul {
      list-style-position: inside;
      list-style-type: disc;
      padding-left: 20px;
      li {
        &::marker {
          color: $subTextColor;
        }
        font-weight: 400;
      }
    }
  }
</style>
