<template>
  <div class="Manual">
    <!-- menu -->
    <aside>
      <ul></ul>
    </aside>

    <!-- content -->
    <article>
      <button type="button" class="toggleMenuBtn">${this.arrow}</button>
      <App-MarkdownEditor />
    </article>
  </div>
</template>

<script>
  import MarkdownEditor from "../components/layout/markdowneditor.js";
  import { $ } from "olum";
  export default class Manual {
    arrow = `<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd" /></svg>`;
    data() {
      return {
        name: "Manual",
        components: { MarkdownEditor },
        template: this.template(),
        style: this.style(),
        render: this.render.bind(this),
      };
    }

    render() {
      const btn = $(".Manual article .toggleMenuBtn");
      const aside = $(".Manual aside");
      btn.on("click", e => aside.classList.toggle("opened"));
    }
  }
</script>

<style lang="scss">
  .Manual {
    height: calc(100vh - 110px);
    position: relative;

    aside,
    article {
      height: 100%;
      float: left;
      overflow: auto;
    }

    aside {
      width: 290px;
      padding: 10px;
      background-color: #f4f5f7;
      border-right: 1px solid $border;
      display: none;

      ul {
        list-style-type: none;
        li {
          margin: 5px 0;
          transition: background 0.1s ease;

          &:hover {
            background-color: #eee;
          }

          a {
            display: block;
            color: $subTextColor;
            padding: 5px;
            border-radius: $radius;
            &.active {
              color: $blue;
              font-weight: 400;
            }
          }
        }
      }

      &.opened {
        display: inline-block;
        position: absolute;
        z-index: 1;
        height: 100%;
        & ~ article {
          width: 100%;

          button.toggleMenuBtn {
            left: 245px;
            z-index: 2;
          }
        }
      }
    }

    article {
      width: 100%;
      position: relative;

      button.toggleMenuBtn {
        position: absolute;
        left: 5px;
        top: 5px;
        width: 40px;
        height: 40px;
        border: 0;
        svg {
          fill: $subTextColor;
        }
      }
    }

    @media (min-width: 768px) {
      aside {
        display: inline-block;
      }

      article {
        width: calc(100% - 290px);

        button.toggleMenuBtn {
          display: none;
        }
      }
    }
  }

  .RTL {
    aside,
    article {
      float: right;
    }
    button.toggleMenuBtn {
      transform: rotate(180deg);
      left: auto;
      right: 5px;
    }

    aside {
      border: 0;
      border-left: 1px solid $border;

      &.opened {
        & ~ article {
          button.toggleMenuBtn {
            right: 245px;
          }
        }
      }
    }
  }
</style>
