@import "../src/styles/normalize.scss";
@import "../src/styles/shared.scss";
@import "../src/styles/mixins.scss";
@include font("./assets/fonts");
// @import "../src/styles/atom-one-dark.scss";
@import "../src/styles/atom-one-light.scss";

* {
  box-sizing: border-box;
}

::selection {
  background-color: $orange;
  color: $white;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
}
.RTL {
  direction: rtl;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;

  &:active {
    @include btnAnimation;
  }
}

svg {
  pointer-events: none;
}

pre {
  direction: ltr !important;
}
