<template>
  <div class="Footer">
    <a href="https://github.com/olumjs" target="_blank">${"copyRight".trans()}</a>
  </div>
</template>

<script>
  export default class Footer {
    constructor() {}
    data() {
      return {
        name: "Footer",
        components: {},
        template: this.template(),
        style: this.style(),
        render: this.render.bind(this),
      };
    }

    render() {}
  }
</script>

<style lang="scss">
  .Footer {
    direction: ltr !important;
    height: 50px;
    line-height: 50px;
    background: $white;
    border-top: 1px solid $border;
    text-align: center;
    a {
      color: $subTextColor;
    }
  }
</style>
