<template>
  <div class="Header">
    <h1>
      <img src="${logo}" alt="Olum logo" />
      ${"olum".trans()}
    </h1>
    <p>${"olumDesc".trans()}</p>

    <p class="statistics">
      <img src="https://img.shields.io/npm/v/olum" alt="npm" />
      <img src="https://img.shields.io/npm/dm/olum" alt="npm" />
      <img src="https://img.shields.io/npm/l/olum" alt="npm" />
    </p>

    <button type="button" to="/docs">${"seeDocs".trans()}</button>
  </div>
</template>

<script>
  import logo from "../../assets/logo.png";
  export default class Header {
    constructor() {}
    data() {
      return {
        name: "Header",
        components: {},
        template: this.template(),
        style: this.style(),
        render: this.render.bind(this),
      };
    }

    render() {}
  }
</script>

<style lang="scss">
  .Header {
    padding: 30px 10px;
    background-color: $mainTextColor;
    color: white;
    text-align: center;

    h1 {
      font-size: 3rem;
      margin-bottom: 15px;
      line-height: 100px;
      font-weight: 500;

      img {
        height: 150px;
        vertical-align: bottom;
        margin-right: 20px;
      }
    }

    p {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 35px;
    }

    .statistics {
      text-align: center;
      margin-top: 15px;
    }

    button {
      height: 40px;
      margin-top: 15px;
      background: $blue;
      border: none;
      color: white;
      padding: 5px 20px;
      border-radius: $radius;
    }
  }
</style>
