<template>
  <div class="MarkdownEditor"></div>
</template>

<script>
  export default class MarkdownEditor {
    data() {
      return {
        name: "MarkdownEditor",
        components: {},
        template: this.template(),
        style: this.style(),
        render: this.render.bind(this),
      };
    }

    render() { }
  }
</script>

<style lang="scss">
  .MarkdownEditor {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 10px;
    direction: ltr !important;
    padding-top: 50px;

    pre {
      /* background: $oneDark; */
      background: $oneLight;
      padding: 16px;
      overflow: auto;
      font-size: 85%;
      line-height: 1.45;
      border-radius: $radius;
      margin-top: 0;
      margin-bottom: 16px;
      word-break: normal;
      white-space: pre;
      word-wrap: normal;

      code {
        padding: 0;
        padding-right: 16px;
        float: left;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 24px;
      margin-bottom: 16px;
      code {
        background-color: $quoteBgColor;
        padding: 0.2em 0.4em;
        border-radius: $radius;
      }
    }

    h1,
    h2 {
      padding-bottom: 0.3em;
      border-bottom: 1px solid $border;
    }

    h6 {
      color: $subTextColor;
    }

    b {
      font-weight: 600;
    }

    blockquote {
      padding: 0 1em;
      color: $subTextColor;
      border-left: 0.25em solid $border;
      margin-top: 0;
      margin-bottom: 16px;
      p {
        display: inline-block;
      }
    }

    ul li code,
    blockquote p code {
      padding: 0.2em 0.4em;
      margin: 0;
      font-size: 85%;
      background-color: $quoteBgColor;
      border-radius: $radius;
      display: inline;
    }

    blockquote p {
      line-height: 26px;
    }

    code.language-javascript {
      background-color: transparent;
    }

    ul {
      list-style-position: inside;
      padding-left: 15px;
      li {
        line-height: 26px;
      }
    }

    a {
      color: $blue;
    }
  }
</style>
